body {
  font-family: 'ProximaNova-Regular';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.ox-ad-logo {
  display: inline-block;
  width: 152px;
  height: 42px;
  background: url('../img/ox_ad_logo.png') no-repeat transparent;
}

#h {
  padding: 10px 0px;
}

#h, #f, .wrapped-content {
  width: 960px;
  margin: auto;
}

#h > .r {
  line-height: 48px;
}

#h > .r .link:hover {
  color: #fff;
}

#h > .l {
  margin-top: 4px;
}

.l, .left {
  float: left;
}

.r, .right {
  float: right;
}

#h > .r .link {
  margin-right: 40px;
  text-decoration: none;
  color: #ccc;
  font-size: 16px;
  font-family: 'ProximaNova-Bold';
}

.clearfix {
  display: block;
}

.login {
  text-align: center;
  background-color: rgba(255,255,255,0.3);
  color: #fff;
  padding: 6px 13px 6px 10px;
  width: 54px;
  -moz-border-top-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  display: inline-block;
  line-height: 22px;
  font-size: 16px;
}

.login:hover {
  color: #fff;
  background-color: rgba(255,255,255,0.4);
}

.button {
  text-decoration: none !important;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.proxima-bold {
  font-family: 'ProximaNova-Bold';
  font-weight: normal;
}


@font-face {font-family: 'ProximaNova-Bold';src: url('../fonts/ProximaNova_Bold.eot');src: url('../fonts/ProximaNova_Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/ProximaNova_Bold.woff') format('woff'),url('../fonts/ProximaNova_Bold.ttf') format('truetype');}
 
@font-face {font-family: 'ProximaNova-Light';src: url('../fonts/ProximaNova_Light.eot');src: url('../fonts/ProximaNova_Light.eot?#iefix') format('embedded-opentype'),url('../fonts/ProximaNova_Light.woff') format('woff'),url('../fonts/ProximaNova_Light.ttf') format('truetype');}

@font-face {font-family: 'ProximaNova-Regular';src: url('../fonts/ProximaNova_Regular.eot');src: url('../fonts/ProximaNova_Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/ProximaNova_Regular.woff') format('woff'),url('../fonts/ProximaNova_Regular.ttf') format('truetype');}
 
@font-face {font-family: 'ProximaNova-Thin';src: url('../fonts/ProximaNova_Thin.eot');src: url('../fonts/ProximaNova_Thin.eot?#iefix') format('embedded-opentype'),url('../fonts/ProximaNova_Thin.woff') format('woff'),url('../fonts/ProximaNova_Thin.ttf') format('truetype');}
