<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Oxford Address</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">	


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="ico/favicon.ico">
  </head>

  <body>
    <a name="top"></a>


    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Oxford Address</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="services.html">Helpful Tips</a></li>
                <li class="active"><a href="#">Contact</a></li>
                <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
                <!-- Commenting out Drop down menu
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li> -->
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->

<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Please contact us!</h1>
    <p class="lead">Just scroll down a little.</p>
  </div>
</header>

      <a name="form"></a>

  <section class="span6">


<div class="container"> 
  <form>

            <div class="control-group">
              <label class="control-label" for="inputEmail"><i class="icon-user"></i> Full Name</label>
              <div class="controls controls-row">
                <input type="text" class="input-xxlarge" id="inputEmail" placeholder="Enter your name">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputEmail"><i class="icon-envelope"></i> Email</label>
              <div class="controls">
                <input type="text" class="input-xxlarge" id="inputEmail" placeholder="you@domain.com">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputEmail"><i class="icon-question-sign"></i> Subject</label>
              <div class="controls">
                <input type="text" class="input-xxlarge" id="inputSubject" placeholder="What's up?">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputEmail"><i class="icon-pencil"></i> Message</label>
              <div class="controls">
                <textarea rows="6" class="input-xxlarge" placeholder="What's your enquiry?"></textarea>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
               <button type="submit" class="btn btn-success">Send Message</button>
              </div>

   </form>

</section><!-- end left -->

       <section class="span6">
          <div class="well">
             <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=wheatley+business+park,+Old+London+Road,+Wheatley&amp;aq=0;sll=51.754665,-1.222572&amp;sspn=0.061314,0.169086&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Wheatley+Business+Park,&amp;hnear=Old+London+Rd,+Wheatley,+Oxford+OX33+1YW,+United+Kingdom&amp;z=11&amp;iwloc=A&amp;output=embed"></iframe>
          </div><!--end well -->
        </section><!--end right --> 
      </div><!--end row -->

</div><!-- End of body container -->



   
<!--
<%= form_for @message, :url => contact_path, :html => {:class => "form-horizontal"} do |form| %>
<fieldset>
 <div class="control-group">
  <%= form.label :name, :class => "control-label" %>
  <div class="controls">
    <%= form.text_field :name %>
  </div>
 </div>

 <div class="control-group">
  <%= form.label :email, :class => "control-label" %>
  <div class="controls">
    <%= form.text_field :email %>
  </div>
 </div>

 <div class="control-group">
  <%= form.label :subject, :class => "control-label" %>
  <div class="controls">
    <%= form.text_field :subject %>
  </div>
 </div>

 <div class="control-group">
  <%= form.label :venue, :class => "control-label" %>
  <div class="controls">
    <%= form.text_field :venue %>
  </div>
 </div>

 <div class="control-group">
  <%= form.label :date, :class => "control-label" %>
  <div class="controls">
    <%= form.text_field :date %>
  </div>
 </div>

 <div class="control-group">
  <%= form.label :time, :class => "control-label" %>
  <div class="controls">
    <%= form.text_field :time %>
  </div>
 </div>

 <div class="control-group">
  <%= form.label :body, :class => "control-label" %>
  <div class="controls">
    <%= form.text_area :body %>
  </div>
 </div>

 <div class="control-group">
  <div class="controls">
    <%= form.submit "Send" %>
  </div>
 </div>

</fieldset>
<% end %>
-->

      <!-- FOOTER -->
      <footer>
        <p class="pull-right smoothScroll"><a href="#top">Back to top</a></p>
        <p>&copy; 2013 Oxford Address &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    <script src="js/holder.js"></script>
  </body>
</html>